<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="keyboard">
    <xacro:include filename="$(find iit_gazebo_worlds_pkg)/simpleKeyboard/urdf/keyboard_macro.urdf.xacro" />
        
    <link name="world"></link>
    
    <xacro:simple_keyboard parent="world">
        <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:simple_keyboard>

</robot>

