<?xml version="1.0"?>
<launch>

    <arg name="name" default="cylinder"/>
    
    <arg name="radius" default="0.1"/>
    <arg name="height" default="0.6"/>
    <arg name="mass" default="0.1"/>
    <arg name="pose_x" default="0" />
    <arg name="pose_y" default="0" />
    <arg name="pose_z" default="0" />
    <arg name="kp" default="1000000"/>
    <arg name="kd" default="1"/>
    <arg name="mu1" default="0.8"/>
    <arg name="mu2" default="0.8"/>
    <arg name="red" default="1"/>
    <arg name="green" default="0"/>
    <arg name="blue" default="0"/>
    <arg name="alfa" default="1"/>
    <arg name="gazebo_color" default="Gazebo/ZincYellow"/>
    <arg name="waitFor" default=""/>

    <arg name="pub_data" default="false"/>
    
    <arg name="xacroCylinder" value="$(find iit_gazebo_worlds_pkg)/genericShapes/urdf/cylinder.urdf.xacro
           name:=$(arg name) radius:=$(arg radius) height:=$(arg height)
           mass:=$(arg mass)
           r:=$(arg red) g:=$(arg green) b:=$(arg blue) a:=$(arg alfa) gazebo_color:=$(arg gazebo_color)
           kp:=$(arg kp) kd:=$(arg kd) mu1:=$(arg mu1) mu2:=$(arg mu2)" />
    <param name="gazebo/$(arg name)_description" command="$(find xacro)/xacro $(arg xacroCylinder)" />

    <node if="$(eval waitFor == '')" name="urdf_spawner_$(arg name)_nowait" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -x $(arg pose_x) -y $(arg pose_y) -z $(arg pose_z) -model $(arg name) -param gazebo/$(arg name)_description" />   
    <!--     wait option to be sure it will be spawned after (so. above) the table     -->
    <node unless="$(eval waitFor == '')" name="urdf_spawner_$(arg name)" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -x $(arg pose_x) -y $(arg pose_y) -z $(arg pose_z) -model $(arg name) -param gazebo/$(arg name)_description -wait $(arg waitFor)" />
    <!--           launch-prefix="bash -c 'sleep 2; $0 $@' "/>  --> <!-- now waiting for the table with -wait option -->

    <group if="$(arg pub_data)" >
        <node name="$(arg name)_pose_gazebo_to_tf" pkg="iit_gazebo_worlds_pkg" type="pose_gazebo_to_tf.py" output="screen"
          args="--reference world --models $(arg name) --models_link $(arg name)_link --ignore_roslaunch_added_param"/>
    </group>
    
</launch>
