<?xml version="1.0"?>
<launch>

    <arg name="table_name" default="table"/>
    <arg name="pub_table_data" default="false"/>

    <arg name="t_pose_x" default="0" />
    <arg name="t_pose_y" default="0" />
    <arg name="t_pose_z" default="0" />
    
    <node name="urdf_spawner_$(arg table_name)" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -x $(arg t_pose_x) -y $(arg t_pose_y) -z $(arg t_pose_z) -model $(arg table_name) -param gazebo/$(arg table_name)_description"/>
          
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="$(arg table_name)_rsp" >
        <remap from="robot_description" to="gazebo/$(arg table_name)_description" />
    </node>
    
    <group if="$(arg pub_table_data)" >
        <node name="$(arg table_name)_pose_gazebo_to_tf" pkg="iit_gazebo_worlds_pkg" type="pose_gazebo_to_tf.py" output="screen"
          args="--reference world --models $(arg table_name) --models_link surface --ignore_roslaunch_added_param"/>
    </group>
    
</launch>
