<?xml version="1.0"?>
<launch>

<!--  If change here, remeber also to change in the config files of xbot    -->
    
    <arg name="dim_x" default="0.1"/>
    <arg name="dim_y" default="0.1"/>
    <arg name="dim_z" default="0.1"/>
    <arg name="mass" default="0.1"/>
    <arg name="pose_x" default="0" />
    <arg name="pose_y" default="0" />
    <arg name="pose_z" default="0" />
    <arg name="name" default="container"/>
    <arg name="table_model_name" default=""/>

    
    <node name="urdf_spawner_$(arg name)" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -x $(arg pose_x) -y $(arg pose_y) -z $(arg pose_z) -model $(arg name) -param gazebo/$(arg name)_description -wait $(arg table_model_name)" />
    <!--           launch-prefix="bash -c 'sleep 2; $0 $@' "/>  --> <!-- now waiting for the table with -wait option -->
    
</launch>
