<?xml version="1.0"?>
<launch>

<!--  If change here, remeber also to change in the config files of xbot    -->
    
    <arg name="pub_box_data" default="false"/>    
    <arg name="pub_table_data" default="false"/>   
    <arg name="t_pose_x" default="1.6"/>
    <arg name="t_pose_y" default="0"/>
    <arg name="t_pose_z" default="0"/>
    <arg name="t_high" default="0.8"/>
    <arg name="b_dim_x" value="0.1"/>
    <arg name="b_dim_y" value="0.04"/>
    <arg name="b_dim_z" value="0.2"/>
    <arg name="container_dim_x" value="0.2"/>
    <arg name="container_dim_y" value="0.12"/>
    <arg name="container_dim_z" value="0.06"/>
    <arg name="container_mass" value="1"/>
    <arg name="b_mass" value="0.1"/>
    <arg name="table_model_name" value="table"/>
    
    <!-- TABLE  -->
    <arg name="xacroTable" value="$(find iit_gazebo_worlds_pkg)/arucoBoxes/urdf/$(arg table_model_name).urdf.xacro 
         surface_high:=$(arg t_high)" />
    <param name="gazebo/$(arg table_model_name)_description" command="$(find xacro)/xacro $(arg xacroTable)" />
    
    <include file="$(find iit_gazebo_worlds_pkg)/arucoBoxes/launch/loaders/load_table.launch">
        <arg name="table_name" value="$(arg table_model_name)"/>
        <arg name="pub_table_data" value="$(arg pub_table_data)"/> 
        <arg name="t_pose_x" value="$(arg t_pose_x)"/>
        <arg name="t_pose_y" value="$(arg t_pose_y)"/>
        <arg name="t_pose_z" value="$(arg t_pose_z)"/>
    </include>

    <!-- CUBES on table  -->
<!--   0.8 is height of table   -->
    <arg name="xacroBox1" value="$(find iit_gazebo_worlds_pkg)/arucoBoxes/urdf/box.urdf.xacro
           box_name:=box1
           mass:=$(arg b_mass) size_x:=$(arg b_dim_x) size_y:=$(arg b_dim_y) size_z:=$(arg b_dim_z) r:=1 g:=1 b:=0 a:=1 gazebo_color:=Gazebo/ZincYellow
           pose_x:=0 pose_y:=0 pose_z:=0
           kp:=1000000 kd:=1 markers:=false" />
    <param name="gazebo/box1_description" command="$(find xacro)/xacro $(arg xacroBox1)" />
    <include file="$(find iit_gazebo_worlds_pkg)/arucoBoxes/launch/loaders/load_box.launch">
        <arg name="box_name" value="box1"/>
        <arg name="box_pose_x" value="$(eval t_pose_x - 0.320)" />
        <arg name="box_pose_y" value="$(eval t_pose_y + 0.5)" />
        <arg name="box_pose_z" value="$(eval t_high + b_dim_z/2 + 0.01)" />
        <arg name="pub_box_data" value="$(arg pub_box_data)"/>    
        <arg name="b_dim_x" value="$(arg b_dim_x)"/>
        <arg name="b_dim_y" value="$(arg b_dim_y)"/>
        <arg name="b_dim_z" value="$(arg b_dim_z)"/>
        <arg name="b_mass" value="$(arg b_mass)"/>
        <arg name="table_model_name" value="$(arg table_model_name)"/>
<!--        <arg name="markers" value="false"/>
        <arg name="marker_size" value="0.18"/>
        <arg name="marker_id" value="0"/>
        <arg name="marker_pos" value="0"/>-->
    </include>
    
    <arg name="xacroBox2" value="$(find iit_gazebo_worlds_pkg)/arucoBoxes/urdf/objects/box.urdf.xacro
           box_name:=box2
           mass:=$(arg b_mass) size_x:=$(arg b_dim_x) size_y:=$(arg b_dim_y) size_z:=$(arg b_dim_z) r:=1 g:=1 b:=0 a:=1 gazebo_color:=Gazebo/ZincYellow
           pose_x:=0 pose_y:=0 pose_z:=0
           kp:=1000000 kd:=1 markers:=false" />
    <param name="gazebo/box2_description" command="$(find xacro)/xacro $(arg xacroBox2)" />
    <include file="$(find iit_gazebo_worlds_pkg)/arucoBoxes/launch/loaders/load_box.launch">
        <arg name="box_name" value="box2"/>
        <arg name="box_pose_x" value="$(eval t_pose_x - 0.324)" />
        <arg name="box_pose_y" value="$(eval t_pose_y + 0)" />
        <arg name="box_pose_z" value="$(eval t_high + b_dim_z/2 + 0.01)" />
        <arg name="pub_box_data" value="$(arg pub_box_data)"/>    
        <arg name="b_dim_x" value="$(arg b_dim_x)"/>
        <arg name="b_dim_y" value="$(arg b_dim_y)"/>
        <arg name="b_dim_z" value="$(arg b_dim_z)"/>
        <arg name="b_mass" value="$(arg b_mass)"/>
        <arg name="table_model_name" value="$(arg table_model_name)"/>
    </include>
    
<!--    <arg name="xacroBox3" value="$(find iit_gazebo_worlds_pkg)/arucoBoxes/urdf/box.urdf.xacro
           box_name:=box3
           mass:=$(arg b_mass) size_x:=$(arg b_dim_x) size_y:=$(arg b_dim_y) size_z:=$(arg b_dim_z) r:=1 g:=1 b:=0 a:=1 gazebo_color:=Gazebo/ZincYellow
           pose_x:=0 pose_y:=0 pose_z:=0
           kp:=1000000 kd:=1 markers:=false" />
    <param name="gazebo/box3_description" command="$(find xacro)/xacro $(arg xacroBox3)" />
    <include file="$(find iit_gazebo_worlds_pkg)/arucoBoxes/launch/loaders/load_box.launch">
        <arg name="box_name" value="box3"/>
        <arg name="box_pose_x" value="$(eval t_pose_x - 0.3)" />
        <arg name="box_pose_y" value="$(eval t_pose_y - 0.5)" />
        <arg name="box_pose_z" value="$(eval t_high + b_dim_z/2 + 0.01)" />
        <arg name="pub_box_data" value="$(arg pub_box_data)"/>    
        <arg name="b_dim_x" value="$(arg b_dim_x)"/>
        <arg name="b_dim_y" value="$(arg b_dim_y)"/>
        <arg name="b_dim_z" value="$(arg b_dim_z)"/>
        <arg name="b_mass" value="$(arg b_mass)"/>
        <arg name="table_model_name" value="$(arg table_model_name)"/>
    </include>-->
    
    <arg name="xacroContainer" value="$(find iit_gazebo_worlds_pkg)/arucoBoxes/urdf/container.urdf.xacro
           container_name:=container
           mass:=$(arg container_mass) size_x:=$(arg container_dim_x) size_y:=$(arg container_dim_y) size_z:=$(arg container_dim_z) r:=1 g:=1 b:=0 a:=1 gazebo_color:=Gazebo/White
           pose_x:=0 pose_y:=0 pose_z:=0
           kp:=1000000 kd:=1" />
    <param name="gazebo/container_description" command="$(find xacro)/xacro $(arg xacroContainer)" />
    <include file="$(find iit_gazebo_worlds_pkg)/arucoBoxes/launch/loaders/load_container.launch">
        <arg name="name" value="container"/>
        <arg name="pose_x" value="$(eval t_pose_x - 0.1)" />
        <arg name="pose_y" value="$(eval t_pose_y - 0.6)" />
        <arg name="pose_z" value="$(eval t_high + container_dim_z/2 + 0.01)" />
        <arg name="dim_x" value="$(arg container_dim_x)"/>
        <arg name="dim_y" value="$(arg container_dim_y)"/>
        <arg name="dim_z" value="$(arg container_dim_z)"/>
        <arg name="mass" value="$(arg container_mass)"/>
        <arg name="table_model_name" value="$(arg table_model_name)"/>
    </include>
    
</launch>
